
<!DOCTYPE html>
<html>
<head>
<title>Information</title>
<script type="text/template" id="component-opinion-scale">
<div class="component-choices"></div>
<ul class="labels layout-thee-columns layout-columns color-secondary text-subpixel-antialiased">
	<li class="first text-size-m text-align-left negativeLabel"></li>
	<li class="second text-size-m text-align-center neutralLabel"></li>
	<li class="third text-size-m text-align-right positiveLabel"></li>
</ul>
</script>
<script type="text/template" id="component-choice-simple">
	<input <%=checked%> type="radio" value="<%=value%>"/><br/>
	<span><%=label%></span>
</script>
<script type="text/template" id="component-choice-square">
	<div class="choice-wrapper">
		<div class="label"><%=label%></div>
		<div class="line"></div>
		<div class="aux">
			<div class="bg"></div>
			<div class="bd"></div>
		</div>
		<div class="background"></div>
	</div>
</script>
<script type="text/template" id="icon-cloud">
	<svg class="icon-cloud" width="132px" height="85px" viewBox="0 0 132 85" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
			<g id="Artboard-3" sketch:type="MSArtboardGroup" fill="#000000">
				<path d="M79,85 L108,85 L108,84.9566146 C121.385069,84.1801879 132,73.0797189 132,59.5 C132,46.906961 122.871557,36.445984 110.870729,34.373127 C110.956288,33.426871 111,32.4685402 111,31.5 C111,14.1030304 96.8969696,0 79.5,0 C65.9387999,0 54.3791415,8.56961829 49.9409394,20.5889401 L49.9409394,20.5889401 C47.0317445,16.5954404 42.3189711,14 37,14 C28.163444,14 21,21.163444 21,30 C21,31.4892152 21.2034561,32.9309107 21.5840885,34.2988067 C9.35984257,36.1828033 0,46.7483475 0,59.5 C0,73.4162144 11.1475089,84.7287886 25,85 L59,85 L59,66 L43,66 L69,32 L95,66 L79,66 L79,85 Z" id="Oval-6" sketch:type="MSShapeGroup"></path>
			</g>
		</g>
	</svg>
</script>
<script type="text/template" id="icon-file">
	<svg class="icon-file" version="1.1" id="Layer_1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="85px" viewBox="0 0 65 85" enable-background="new 0 0 65 85" xml:space="preserve">
		<g id="Page-1" sketch:type="MSPage">
			<g id="Artboard-1" transform="translate(97.000000, 0.000000)" sketch:type="MSArtboardGroup">
				<g id="Rectangle-4-_x2B_-Line-_x2B_-Line" transform="translate(3.000000, 1.000000)" sketch:type="MSLayerGroup">
					<path id="Rectangle-4" sketch:type="MSShapeGroup" fill="none" stroke="#000000" stroke-width="3" d="M-55.333,1
						c0.457,0-42,0-42,0v79h61V18C-36.333,18-54.876,1-55.333,1z"/>
					<path id="Line" sketch:type="MSShapeGroup" fill="none" stroke="#000000" stroke-width="2.837" stroke-linecap="square" d="
						M-55.833,1.579V18.5"/>
					<path id="Line_1_" sketch:type="MSShapeGroup" fill="none" stroke="#000000" stroke-width="3" stroke-linecap="square" d="
						M-55.333,18.5h19"/>
				</g>
			</g>
		</g>
	</svg>
</script>
<script type="text/template" id="component-file-upload-box">
	<div class="box">
		<div class="box-cancel">
			<svg viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" x="0px" y="0px" width="14px" height="14px">
				<g>
					<path id="Line" d="M 11.5 1.5 L 1.5 11.5 " stroke="#000000" stroke-width="2" fill="none"/>
					<path id="Line2" d="M 1.5 1.5 L 11.5 11.5 " stroke="#000000" stroke-width="2" fill="none"/>
				</g>
			</svg>
			<div class="cancel-background"></div>
		</div>
		<span class="tick"></span>
		<input type="file" name="file"/>
		<div class="box-content-wrapper">
			<div class="box-content">
				<div class="box-image"></div>
				<div class="box-text"></div>
			</div>
		</div>
		<div class="aux">
			<div class="bg"></div>
			<div class="bd"></div>
		</div>
		<div class="background"></div>
	</div>
</script>
<script type="text/template" id="component-file-upload-box-simple">
	<input type="file" name="file"/>
	<p class="box-text"></p>
    <div class="progress-bar-target"></div>
</script>
<script type="text/template" id="component-file-upload-progress-bar">
	<div class="progress-bar">
		<div class="bar"></div>
	</div>
</script>
<script type="text/template" id="component-file-upload-text-start">
	<p>
		<%= textChoose %>
	</p>
	<p>
		<%= textSizeLimit %>: <%= maxFileSize %> MB
	</p>
</script>
<script type="text/template" id="component-file-upload-text-uploading">
	<p>
		<b><%= textUploading %></b>
	</p>
	<p>
		<%= fileName %>
	</p>
</script>
<script type="text/template" id="component-file-upload-text-preview">
	<p>
		<b><%= fileName %></b>
	</p>
</script>
<script type="text/template" id="component-confirm-button">
	<div class="button-wrapper confirm">
	</div>
	<div class="text"></div>
</script>

<link rel="stylesheet" type="text/css" href="https://assets.typeform.com/forms/styles/2187714?v=3920187">

<link id="font" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;text=" rel="stylesheet" type="text/css">	
</head>
<body class="default repeat percent   font-family-montserrat dark form-ready confirm-skip confirm-nav confirm-inline" style="">

<div id="typeform" class="">
<ul class="questions" style="margin-top: 379.5px; margin-bottom: 459.5px; top: 0px;">						
<li class="question-item textfield required visible active focus ready" id="28327283" >
<div class="wrapper" style="height: 102px;">
	<div class="item">
		<span>1</span>
		<div class="arrow"><div class="arrow-right"></div></div>
	</div>
	<div class="question"><span><strong>Hello</strong>. What's your name?<span class="asterisk">*</span></span></div>
	<div class="content">
						<div class="content-wrapper">
	<div class="attachment-wrapper">
		<div class="control">
			<div class="input">
				<input class="" type="text" autocomplete="off">
			</div>
		</div>
	<div class="clear"></div>
	</div>
	<div class="clear"></div>
<div class="message "><span></span><div></div></div>
<div class="confirm container step0">

<div class="button-wrapper confirm">
	<div class="button nav enabled"><span>OK</span><span class="confirm"></span> 	</div>
</div>
<div class="text">press <strong>ENTER</strong></div>
</div>
</div>
</div>
</div>
</li>			  								
<li class="question-item list vertical visible" id="28327284" >
	<div class="wrapper" style="height: 228px;">
		<div class="item">
			<span></span>
			<div class="arrow"><div class="arrow-right"></div></div>
		</div>
        <div class="question"><span>Hi,&nbsp;. What's your <strong>gender</strong>?</span></div>
		<div class="content">
							<div class="content-wrapper">

			<div class="attachment-wrapper">
				
     		<div class="control">
     			<div class="multiple">Choose as many as you like</div>
<ul class="columns">

<li id="36589525" class="container step0" style="width: 89px;">
				<input type="hidden" name="value" value="Male" autocomplete="off">
				<div class="letter"><span>A</span></div>
				<span class="label">Male</span>
				<span class="tick"></span>
				<div class="aux ">
					<div class="bg"></div>
					<div class="bd"></div>
				</div>
</li>

<li id="36589526" class="container step0" style="width: 89px;">
				<input type="hidden" name="value" value="Female" autocomplete="off">
				<div class="letter"><span>B</span></div>
				<span class="label">Female</span>
				<span class="tick"></span>
				<div class="aux ">
					<div class="bg"></div>
					<div class="bd"></div>
				</div>
</li>

<li class="custom container step0" style="width: 89px;">
	<input type="hidden" name="value" value="!other" autocomplete="off">
	<div class="letter"><span>C</span></div>

	<span class="label ellipsis"><span class="val">Other</span></span>
	<input class="other-field" type="text" autocomplete="off">
							
											
<div class="button-wrapper ok-confirm">
	<div class="button nav tick tick--button enabled"><span></span>	</div>
</div>
							
<span class="tick"></span>
<div class="aux ">
	<div class="bg"></div>
	<div class="bd"></div>
</div>

<div class="clear"></div>
</li>
</ul>
</div>
<div class="clear"></div>
</div>
	<div class="clear"></div>
<div class="message "><span></span><div></div></div>
<div class="confirm container step0">

<div class="button-wrapper confirm">
	<div class="button nav enabled"><span>OK</span><span class="confirm"></span> 	</div>
</div>
	<div class="text">press <strong>ENTER</strong></div>
</div>
			</div>
		</div>
	</div>
</li>

<li class=" question-item dropdown visible" id="28327285">
	<div class="wrapper" style="height: 132px;">
		<div class="item">
			<span></span>
			<div class="arrow"><div class="arrow-right"></div></div>
		</div>
        <div class="question"><span><strong>And which country&nbsp;</strong>do you call home?</span></div>
		<div class="content">
							<div class="content-wrapper">
		<div class="attachment-wrapper">
						<div class="control">
				<div class="input-wrapper"><a href="#" class="cross secondaryColor"><span>?</span></a><a href="#" class="triangle"><span></span></a><input class="secondaryColor" type="text" placeholder="Type or select an option"><div class="dropdown-wrapper nano has-scrollbar"><ul class="typeahead dropdown-menu nano-content" tabindex="0" style="right: -17px;"></ul><div class="pane" style="display: none;"><div class="slider" style="height: 62px;"></div></div></div><div class="not-found"><div class="text secondaryColor">No suggestions found</div></div></div>
			</div>
			<div class="clear"></div>
		</div>
					<div class="clear"></div>
<div class="message "><span></span><div></div></div>
			</div>
		</div>
	</div>
</li>

<li class="question-item list-image supersize" id="28327286">
	<div class="wrapper" style="height: 679px;">
		<div class="item">
			<span></span>
			<div class="arrow"><div class="arrow-right"></div></div>
		</div>
        <div class="question"><span>Which of these scenes makes you feel happiest?</span></div>
		<div class="content">
							<div class="content-wrapper">

		<div class="multiple">Choose as many as you like</div>
		<ul class="columns">

				<li id="36589527" class="Border container step0">
					<input type="hidden" name="value" value="City" autocomplete="off">
					<div class="tick-wrapper"></div>
					<span class="tick"></span>
							<div class="image-wrapper" style="width: 316px; height: 237px;">
							<img src="https://images.typeform.com/images/2NGfwgiY58/choice/supersize#.jpeg" data-original="https://images.typeform.com/images/2NGfwgiY58/choice/supersize#.jpeg" width="310" height="233" alt="City" style="margin-left: -155px; margin-top: -116.5px; width: 310px; height: 233px; display: inline;">
					</div>
					<div class="text">

						<div class="label">
							<div class="letter"><span>A</span></div>
							<div class="caption">City</div>
						</div>
					</div>
					<div class="aux ">
						<div class="bg"></div>
						<div class="bd"></div>
					</div>
				</li>

				<li id="36589528" class="Border container step0">
					<input type="hidden" name="value" value="Countryside" autocomplete="off">
					<div class="tick-wrapper"></div>
					<span class="tick"></span>
						<div class="image-wrapper" style="width: 316px; height: 237px;">
						<img src="https://images.typeform.com/images/m5JqyWGjgu/choice/supersize#.jpeg" data-original="https://images.typeform.com/images/m5JqyWGjgu/choice/supersize#.jpeg" width="310" height="233" alt="Countryside" style="margin-left: -155px; margin-top: -116.5px; width: 310px; height: 233px; display: inline;">
					</div>
					<div class="text">

						<div class="label">
							<div class="letter"><span>B</span></div>
							<div class="caption">Countryside</div>
						</div>
					</div>
					<div class="aux ">
						<div class="bg"></div>
						<div class="bd"></div>
					</div>
				</li>

				<li id="36589529" class="Border container step0">
					<input type="hidden" name="value" value="Mountain" autocomplete="off">
					<div class="tick-wrapper"></div>
					<span class="tick"></span>
															<div class="image-wrapper" style="width: 316px; height: 237px;">
												<img src="https://images.typeform.com/images/mrdWCs4Pjv/choice/supersize#.jpeg" data-original="https://images.typeform.com/images/mrdWCs4Pjv/choice/supersize#.jpeg" width="310" height="233" alt="Mountain" style="margin-left: -155px; margin-top: -116.5px; width: 310px; height: 233px; display: inline;">
					</div>
					<div class="text">

						<div class="label">
							<div class="letter"><span>C</span></div>
							<div class="caption">Mountain</div>
						</div>
					</div>
					<div class="aux ">
						<div class="bg"></div>
						<div class="bd"></div>
					</div>
				</li>

				<li id="36589530" class="Border container step0">
					<input type="hidden" name="value" value="Beach" autocomplete="off">
					<div class="tick-wrapper"></div>
					<span class="tick"></span>
															<div class="image-wrapper" style="width: 316px; height: 237px;">
												<img src="https://images.typeform.com/images/p3iPF2uY89/choice/supersize#.jpeg" data-original="https://images.typeform.com/images/p3iPF2uY89/choice/supersize#.jpeg" width="310" height="233" alt="Beach" style="margin-left: -155px; margin-top: -116.5px; width: 310px; height: 233px; display: inline;">
					</div>
					<div class="text">

						<div class="label">
							<div class="letter"><span>D</span></div>
							<div class="caption">Beach</div>
						</div>
					</div>
					<div class="aux ">
						<div class="bg"></div>
						<div class="bd"></div>
					</div>
				</li>
			</ul>
		<div class="clear"></div>
		<div class="clear"></div>
<div class="message "><span></span><div></div></div>
<div class="confirm container step0">
		<div class="button-wrapper confirm">
			<div class="button nav enabled"><span>OK</span><span class="confirm"></span> 	</div>
		</div>
	<div class="text">press <strong>ENTER</strong></div>
</div>	
</div>
</div>
</div>
</li>			  							
</ul>
	<div class="footer-confirm step0">
	<div class="persistent background"></div>
</div>
<div id="fixed-footer" class="lightness-step step0">
    <div class="overlay"></div>
	<div class="persistent background"></div>
<div class="nav-buttons">

<div class="button-wrapper up">
	<div class="button nav hover-effect disabled"><span></span><span class="up"></span> 	</div>
</div>
<div class="button-wrapper down">
	<div class="button nav enabled hover-effect"><span></span><span class="down"></span> 	</div>
</div>
</div>
<div class="clear"></div>
<div class="content">
		<div id="progress"><div class="label"><span>0% completed</span></div><div class="bar"><div class="wrapper"></div><div class="progress" style="width: 0px;"></div></div></div>
</div>
</div>
<div id="unfixed-footer" class="lightness-step step0" style="height: 0px;">
    <div class="footer-message">
        <div class="background"></div>
        <div class="content"><span class="default-message"></span></div>
    </div>
    <div class="persistent background lightness-step step0"></div>
    <div class="content">
        <div class="button-wrapper submit"><div class="button general hover-effect enabled">Submit</div>
			<div class="button-text">press <strong>ENTER</strong></div>
		</div>

        <div class="button-wrapper review">
            <div class="button general red enabled hover-effect">Review</div>
			<div class="button-text">press <strong>ENTER</strong></div>
		</div>
		</div>
</div>
</div>		
<div id="background">
</div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="./js/script.js"></script>
</html>
